body {
    margin: 0;
}

.main {

    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

#game-board {
    display: grid;
    grid-gap: 1px;
    background-color: #ad728f;
    border: 2px solid #000000;
}

#game-board div {
    background-color: rgba(161, 88, 128, 0.701);
    font-size: 10px;
}

.s-block{
    background-color: rgb(170, 66, 104);
}
